*,
html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Concert One', cursive;
}

:root {
    --bg-primary: #3d5f75;
    --bg-secondary: #f8f8f8;
    --txt-primary: #ffffff;
    --txt-secondary: #222222;
    --icons-bg-primary: #3d5f75;
    --icons-bg-secondary: #288794;
}

.container {
    width: 100%;
    min-height: 100vh;
    height: auto;
    background-color: var(--bg-primary);
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card {
    width: 40%;
    border: 1px solid white;
    background-color: var(--bg-secondary);
    color: var(--txt-secondary);
    padding: 32px;
    margin: 10px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.text-center {
    text-align: center;
}

.icons {
    margin-top: 10px;
    font-size: 32px;
    color: var(--icons-bg-primary)
}

.tittle {
    font-size: 2em;
}

.description {
    margin-top: 10px;
    font-size: 0,5em;
}

.btn {
    margin-top: 10px;
    padding: 8px;
    font-size: 100%;
    cursor: pointer;
    border: none;
    background-color: var(--bg-secondary);
    width: 100%;
}

.btn:hover{
    background-color: var(--bg-primary);
    color: var(--txt-primary);
    transform: rotate(5deg);
    transition: .3s ease-in-out;
}

@media screen and (max-width: 476px) {
    .card {
        width: 90%;
    }

    .tittle {
        font-size: 2em;
    }

    .icons {
        font-size: 3em;
    }

    .description {
        font-size: 1.5em;
    }

    .btn {
        padding: 16px;
        font-size: 1.5em;
    }
}

@media screen and (min-width: 477px) {
    .tittle {
        font-size: 2em;
    }

    .icons {
        font-size: 3em;
    }

    .description {
        font-size: 1.5em;
    }

    .btn {
        font-size: 1.5em;
    }
}

.about {
    text-align: center;
    background-color: var(--bg-primary);
}

.all {
    color: var(--txt-primary);
    padding: 18px;
}

.name {
    color: var(--txt-primary);
}

.name1 {
    color: var(--txt-primary);
    padding-top: 18px;
}